.indexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  margin-top: 20px;
  /* max-width: 330px; */
  width: calc(min(85%, 480px));
}

/* @media screen and (min-width: 768px) {
  .indexContainer {
    flex-direction: row;
  }
} */
