@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #272635;
}

html, body {
    min-height: 100%;
    min-height: -webkit-fill-available;
}

.beautifulText p, .beautifulText strong, .beautifulText em, .beautifulText a {
    margin-bottom: 15px;
    font-size: 14px;
}